/* MANAGING THEMES */
/* MEDIA QUERIES */
/* MENU BUTTON */
.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  transition: all 0.5s ease-out;
  /* ROTATE BUTTON */ }
  .menu-btn .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #fff;
    transition: all 0.5s ease-out; }
  .menu-btn.close {
    transform: rotate(180deg); }
    .menu-btn.close .btn-line {
      /* Rotate Line 1 */
      /* Hide Line 2 */
      /* Rotate Line 3 */ }
      .menu-btn.close .btn-line:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px); }
      .menu-btn.close .btn-line:nth-child(2) {
        opacity: 0; }
      .menu-btn.close .btn-line:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -6px); }

/* MENU OVERLAY */
.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 1;
  visibility: hidden; }
  .menu.show {
    visibility: visible; }
  .menu-branding, .menu-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden; }
  .menu-nav {
    margin: 0;
    padding: 0;
    background: black;
    list-style: none;
    transform: translate3d(0, -100%, 0);
    transition: all 0.5s ease-out; }
    .menu-nav.show {
      /* Slide in from top */
      transform: translate3d(0, 0, 0); }
  .menu-branding {
    background: #000;
    transform: translate3d(0, 100%, 0);
    transition: all 0.5s ease-out; }
    .menu-branding.show {
      /* Slide in from bottom */
      transform: translate3d(0, 0, 0); }
    .menu-branding .portrait {
      width: 250px;
      height: 250px;
      background: url(../img/Mayank.jpg);
      border-radius: 50%;
      border: solid 3px #1a87ee;
      pointer-events: none; }
  .menu .nav-item {
    transform: translate3d(600px, 0, 0);
    transition: all 0.5s ease-out; }
    .menu .nav-item.show {
      /* Slide in from right */
      transform: translate3d(0, 0, 0); }
    .menu .nav-item.active > a {
      color: #1a87ee; }
  .menu .nav-link {
    display: inline-block;
    position: relative;
    font-size: 25px;
    text-transform: uppercase;
    padding: 0.8rem 0;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    transition: all 0.5s ease-out; }
    .menu .nav-link:hover {
      color: #1a87ee; }

/* DELAY NAV ITEM SLIDE */
.nav-item:nth-child(1) {
  transition-delay: 0.1s; }

.nav-item:nth-child(2) {
  transition-delay: 0.2s; }

.nav-item:nth-child(3) {
  transition-delay: 0.3s; }

.nav-item:nth-child(4) {
  transition-delay: 0.4s; }

* {
  box-sizing: border-box; }

body {
  background: #000;
  color: #fff;
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smooting: antialiased;
  text-rendering: optimizeLegibility;
  line-height: 1.5;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }
  body#bg-img {
    background: url(../img/background.jpg);
    background-attachment: fixed;
    background-size: cover; }
    body#bg-img:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.8);
      z-index: -1; }

/* SCROLL BAR */
::-webkit-scrollbar {
  width: 10px; }

::-webkit-scrollbar-track {
  background: #000; }

::-webkit-scrollbar-thumb {
  background: #fff; }

::-webkit-scrollbar-thumb:hover {
  background: #1a87ee; }

/* Headings */
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400; }
  h1.lg-heading,
  h2.lg-heading,
  h3.lg-heading {
    font-size: 4rem; }
  h1.sm-heading,
  h2.sm-heading,
  h3.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(5, 5, 5, 0.5); }

a {
  color: #fff;
  text-decoration: none; }

header {
  position: fixed;
  z-index: 2;
  width: 100%; }

.text-secondary {
  color: #1a87ee; }

main {
  padding: 4rem;
  min-height: calc(100vh - 60px); }
  main .icons {
    margin-top: 1rem; }
    main .icons a {
      padding: 0.4rem; }
      main .icons a:hover {
        transition: all 0.5s ease-out; }
      main .icons a#linkedin:hover {
        color: #00a9cd; }
      main .icons a#github:hover {
        color: #6e5494; }
      main .icons a#twitter:hover {
        color: #6dc5dd; }
      main .icons a#facebook:hover {
        color: #3b5998; }
      main .icons a#instagram:hover {
        color: #6dc993; }
  main#home {
    overflow: hidden; }
    main#home h1 {
      margin-top: 20vh; }

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas: 'bioimage bio bio' 'job1 job2 job3';
  grid-template-columns: repeat(3, 1fr); }
  .about-info .bio-img {
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: #1a87ee 3px solid;
    pointer-events: none; }
  .about-info .bio {
    grid-area: bio;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0.1rem; }
  .about-info .job-1 {
    grid-area: job1; }
  .about-info .job {
    background: #121212;
    padding: 0.5rem 1rem;
    border-bottom: #1a87ee 5px solid; }

.heading-center {
  font-size: 2rem;
  margin-top: 4rem;
  margin-bottom: 2rem;
  text-align: center; }

.skills-display {
  display: grid;
  grid-gap: 30px;
  grid-template-areas: 'skill1 skill skill skill skill3';
  grid-template-columns: repeat(5, 1fr); }
  .skills-display .skills {
    grid-area: skill;
    margin-bottom: 2rem; }

@keyframes load {
  from {
    width: 0%; } }

@-webkit-keyframes load {
  from {
    width: 0%; } }

@-moz-keyframes load {
  from {
    width: 0%; } }
    .skills-display .skills .bar {
      background-color: #fff;
      padding: 0.15rem;
      border-radius: 1rem;
      margin-bottom: 0.4rem;
      font-size: 14px;
      color: #fff;
      font-weight: bold;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
      cursor: pointer; }
      .skills-display .skills .bar:before {
        content: attr(data-skill);
        display: inline-block;
        padding: 2px 0px 2px 10px;
        border-radius: inherit;
        animation: load 2s 0s;
        -webkit-animation: load 2s 0s;
        -moz-animation: load 2s 0s;
        transition: all 0.5s ease-out; }
      .skills-display .skills .bar:nth-child(2n):before {
        background: #117A65; }
      .skills-display .skills .bar:nth-child(2n+1):before {
        background: #34495E; }
      .skills-display .skills .bar.beginner:before {
        width: calc(40% - 10px); }
      .skills-display .skills .bar.intermediate:before {
        width: calc(60% - 10px); }
      .skills-display .skills .bar.basic:before {
        width: calc(75% - 10px); }
      .skills-display .skills .bar.advance:before {
        width: calc(85% - 10px); }
      .skills-display .skills .bar.expert:before {
        width: calc(95% - 10px); }

.timeline-display .timeline-heading {
  font-size: 1.4rem; }

.timeline-display .timeline-text {
  font-size: 1.15rem;
  font-weight: 300;
  text-align: justify; }

.projects {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(3, 1fr); }
  .projects img {
    width: 100%;
    border: 3px #fff solid; }
    .projects img:hover {
      opacity: 0.5;
      border-color: #1a87ee;
      transition: all 0.5s ease-out; }

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: auto;
  outline: 0;
  background-color: rgba(255, 255, 255, 0.4);
  transition: all 0.5s ease-out; }
  .modal .modal-content {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 40%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: .3rem;
    outline: 0;
    margin: 2% auto;
    padding: 20px;
    color: #000; }
    .modal .modal-content .modal-header {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      padding: 0.8rem;
      border-bottom: 1px solid #e9ecef;
      border-top-left-radius: .3rem;
      border-top-right-radius: .3rem; }
    .modal .modal-content .modal-header .close {
      margin: -1rem -1rem -1rem auto;
      font-size: 1.5rem;
      cursor: pointer;
      text-decoration: none; }
    .modal .modal-content .modal-title {
      margin-bottom: 0;
      line-height: 1.5; }
    .modal .modal-content .modal-body {
      position: relative;
      -webkit-box-flex: 2;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      padding: 1rem;
      text-align: center; }
      .modal .modal-content .modal-body:nth-child(n) {
        width: 100%; }
      .modal .modal-content .modal-body img {
        width: 100%;
        height: 300px; }
    .modal .modal-content .modal-footer {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: center; }

.contact-form {
  width: 40%; }
  .contact-form input,
  .contact-form textarea {
    border: none;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    width: 100%;
    resize: none;
    border-radius: 0.2rem; }
  .contact-form input {
    padding: 5px 5px 5px 10px;
    height: 50px; }
  .contact-form textarea {
    padding: 10px 5px 0 10px; }
  .contact-form input[type=submit] {
    background-color: transparent;
    border: 3px solid #1a87ee;
    color: #fff;
    padding: 12px 5px;
    text-transform: uppercase;
    cursor: pointer; }
    .contact-form input[type=submit]:hover {
      background-color: #1a87ee;
      color: #000;
      font-weight: 600; }

/* BUTTON STYLES */
.btn, .btn-dark, .btn-light {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem; }
  .btn:hover, .btn-dark:hover, .btn-light:hover {
    background: #1a87ee;
    color: #fff; }

.btn-dark {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40; }
  .btn-dark:hover {
    color: #fff;
    background-color: #23272b;
    border-color: #1d2124; }
  .btn-dark:focus {
    box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5); }

.btn-light {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa; }
  .btn-light:hover {
    color: #212529;
    background-color: #e2e6ea;
    border-color: #dae0e5; }
  .btn-light:focus {
    box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5); }

#main-footer {
  text-align: center;
  padding: 1rem;
  background: black;
  color: #fff;
  height: 60px; }

/* WIDE SCREENS */
@media screen and (min-width: 1171px) {
  .projects {
    grid-template-columns: repeat(4, 1fr); }
  .contact-form {
    width: 40%; } }

/* DESKTOPS AND LAPTOPS */
@media screen and (min-width: 769px) and (max-width: 1170px) {
  .projects {
    grid-template-columns: repeat(3, 1fr); }
  .contact-form {
    width: 60%; } }

/* TABLETS */
@media screen and (max-width: 768px) {
  main {
    align-items: center;
    text-align: center; }
    main .lg-heading {
      line-height: 1;
      margin-bottom: 1rem; }
  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0; }
    ul.menu-nav.show,
    div.menu-branding.show {
      transform: translate3d(0, 0, 0); }
  div.menu-branding {
    height: 35vh;
    transform: translate3d(100%, 0, 0);
    font-size: 24px; }
    div.menu-branding .portrait {
      background: url(../img/Mayank_small.jpg);
      pointer-events: none;
      width: 150px;
      height: 150px; }
  ul.menu-nav {
    height: 65vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px; }
  .about-info {
    grid-template-areas: 'bioimage' 'bio' 'job1';
    grid-template-columns: 1fr; }
  .skills-display {
    grid-template-areas: 'skill';
    grid-template-columns: 1fr; }
    .skills-display .bar {
      text-align: initial;
      margin-bottom: 1rem !important; }
  .projects {
    grid-template-columns: repeat(2, 1fr); }
  .modal-content {
    width: 80% !important;
    margin: 10% auto !important; }
    .modal-content img {
      height: 200px !important; }
  .contact-form {
    width: 100%; } }

/* SMARTPHONES */
@media screen and (max-width: 500px) {
  main {
    padding: 1.5rem; }
    main#home h1 {
      margin-top: 10vh; }
    main .lg-heading {
      margin-top: 3rem;
      font-size: 4rem; }
  .timeline-display {
    display: block; }
    .timeline-display .timeline-text {
      text-align: initial; }
  .projects {
    grid-template-columns: 1fr; }
  .modal-content img {
    height: 150px !important; }
  .contact-form {
    width: 100%; } }
