@import 'config';
@import 'menu';
* {
    box-sizing: border-box;
}

body {
    @include background();
    background: $primary-color;
    color: set-text-color($primary-color);
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-font-smooting: antialiased;
    text-rendering: optimizeLegibility;
    line-height: 1.5;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

/* SCROLL BAR */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: $primary-color;
}

::-webkit-scrollbar-thumb {
    background: set-text-color($primary-color);
}

::-webkit-scrollbar-thumb:hover {
    background: $secondary-color;
}

/* Headings */

h1,
h2,
h3 {
    margin: 0;
    font-weight: 400;
    &.lg-heading {
        font-size: 4rem;
    }
    &.sm-heading {
        margin-bottom: 2rem;
        padding: 0.2rem 1rem;
        background: rgba(lighten($primary-color, 2), 0.5);
    }
}

a {
    color: set-text-color($primary-color);
    text-decoration: none;
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
}

.text-secondary {
    color: $secondary-color;
}

main {
    padding: 4rem;
    min-height: calc(100vh - 60px);
    .icons {
        margin-top: 1rem;
        a {
            padding: 0.4rem;
            &:hover {
                @include easeOut();
            }
            &#linkedin:hover {
                color: #00a9cd;
            }
            &#github:hover {
                color: #6e5494;
            }
            &#twitter:hover {
                color: #6dc5dd;
            }
            &#facebook:hover {
                color: #3b5998;
            }
            &#instagram:hover {
                color: #6dc993;
            }
        }
    }
    &#home {
        overflow: hidden;
        h1 {
            margin-top: 20vh;
        }
    }
}

.about-info {
    display: grid;
    grid-gap: 30px;
    grid-template-areas: 'bioimage bio bio' 'job1 job2 job3';
    grid-template-columns: repeat(3, 1fr);
    .bio-img {
        grid-area: bioimage;
        margin: auto;
        border-radius: 50%;
        border: $secondary-color 3px solid;
        pointer-events: none;
    }
    .bio {
        grid-area: bio;
        font-size: 20px;
        font-weight: 300;
        letter-spacing: 0.1rem;
    }
    .job-1 {
        grid-area: job1;
    }
    .job {
        background: lighten($primary-color, 7);
        padding: 0.5rem 1rem;
        border-bottom: $secondary-color 5px solid;
    }
}

.heading-center {
    font-size: 2rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
    text-align: center;
}

.skills-display {
    display: grid;
    grid-gap: 30px;
    grid-template-areas: 'skill1 skill skill skill skill3';
    grid-template-columns: repeat(5, 1fr);
    .skills {
        grid-area: skill;
        margin-bottom: 2rem;
        @keyframes load {
            from {
                width: 0%
            }
        }
        @-webkit-keyframes load {
            from {
                width: 0%
            }
        }
        @-moz-keyframes load {
            from {
                width: 0%
            }
        }
        .bar {
            background-color: set-text-color($primary-color);
            padding: 0.15rem;
            border-radius: 1rem;
            margin-bottom: 0.4rem;
            font-size: 14px;
            color: set-text-color($primary-color);
            font-weight: bold;
            text-shadow: 1px 1px 1px rgba($primary-color, 0.5);
            cursor: pointer;
            &:before {
                content: attr(data-skill);
                display: inline-block;
                padding: 2px 0px 2px 10px;
                border-radius: inherit;
                animation: load 2s 0s;
                -webkit-animation: load 2s 0s;
                -moz-animation: load 2s 0s;
                @include easeOut;
            }
            &:nth-child(2n):before {
                background: #117A65;
            }
            &:nth-child(2n+1):before {
                background: #34495E;
            }
            &.beginner:before {
                width: calc(40% - 10px);
            }
            &.intermediate:before {
                width: calc(60% - 10px);
            }
            &.basic:before {
                width: calc(75% - 10px);
            }
            &.advance:before {
                width: calc(85% - 10px);
            }
            &.expert:before {
                width: calc(95% - 10px);
            }
        }
    }
}

.timeline-display {
    .timeline-heading {
        font-size: 1.4rem;
    }
    .timeline-text {
        font-size: 1.15rem;
        font-weight: 300;
        text-align: justify;
    }
}

.projects {
    display: grid;
    grid-gap: 0.7rem;
    grid-template-columns: repeat(3, 1fr);
    img {
        width: 100%;
        border: 3px #fff solid;
        &:hover {
            opacity: 0.5;
            border-color: $secondary-color;
            @include easeOut;
        }
    }
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: auto;
    outline: 0;
    background-color: rgba(255, 255, 255, 0.4);
    @include easeOut;
    .modal-content {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 40%;
        pointer-events: auto;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0, 0, 0, .2);
        border-radius: .3rem;
        outline: 0;
        margin: 2% auto;
        padding: 20px;
        color: #000;
        .modal-header {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: start;
            -ms-flex-align: start;
            align-items: flex-start;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            padding: 0.8rem;
            border-bottom: 1px solid #e9ecef;
            border-top-left-radius: .3rem;
            border-top-right-radius: .3rem
        }
        .modal-header .close {
            margin: -1rem -1rem -1rem auto;
            font-size: 1.5rem;
            cursor: pointer;
            text-decoration: none;
        }
        .modal-title {
            margin-bottom: 0;
            line-height: 1.5;
        }
        .modal-body {
            position: relative;
            -webkit-box-flex: 2;
            -ms-flex: 1 1 auto;
            flex: 1 1 auto;
            padding: 1rem;
            text-align: center;
            &:nth-child(n) {
                width: 100%;
            }
            img {
                width: 100%;
                height: 300px;
            }
        }
        .modal-footer {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: end;
            -ms-flex-pack: end;
            justify-content: center;
        }
    }
}

.contact-form {
    width: 40%;
    input,
    textarea {
        border: none;
        font-size: 16px;
        font-weight: 400;
        outline: none;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
        width: 100%;
        resize: none;
        border-radius: 0.2rem;
    }
    input {
        padding: 5px 5px 5px 10px;
        height: 50px;
    }
    textarea {
        padding: 10px 5px 0 10px;
    }
    input[type=submit] {
        background-color: transparent;
        border: 3px solid $secondary-color;
        color: set-text-color($primary-color);
        padding: 12px 5px;
        text-transform: uppercase;
        cursor: pointer;
        &:hover {
            background-color: $secondary-color;
            color: set-text-color($secondary-color);
            font-weight: 600;
        }
    }
}

/* BUTTON STYLES */

.btn {
    display: block;
    padding: 0.5rem 1rem;
    border: 0;
    margin-bottom: 0.3rem;
    &:hover {
        background: $secondary-color;
        color: set-text-color($primary-color);
    }
}

.btn-dark {
    @extend .btn;
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
    &:hover {
        color: #fff;
        background-color: #23272b;
        border-color: #1d2124
    }
    &:focus {
        box-shadow: 0 0 0 .2rem rgba(52, 58, 64, .5)
    }
}

.btn-light {
    @extend .btn;
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
    &:hover {
        color: #212529;
        background-color: #e2e6ea;
        border-color: #dae0e5
    }
    &:focus {
        box-shadow: 0 0 0 .2rem rgba(248, 249, 250, .5)
    }
}

#main-footer {
    text-align: center;
    padding: 1rem;
    background: darken($primary-color, 10);
    color: set-text-color($primary-color);
    height: 60px;
}

@import 'mobile';