@import 'config';
@import 'menu';
* {
    box-sizing: border-box;
}

body {
    @include background();
    background: $primary-color;
    color: set-text-color($primary-color);
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

/* Headings */

h1,
h2,
h3 {
    margin: 0;
    font-weight: 400;
    &.lg-heading {
        font-size: 4rem;
    }
    &.sm-heading {
        margin-bottom: 2rem;
        padding: 0.2rem 1rem;
        background: rgba(lighten($primary-color, 2), 0.5);
    }
}

a {
    color: set-text-color($primary-color);
    text-decoration: none;
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
}

.text-secondary {
    color: $secondary-color;
}

main {
    padding: 4rem; //height: 100%;
    min-height: calc(100vh - 60px);
    .icons {
        margin-top: 1rem;
        a {
            padding: 0.4rem;
            &:hover {
                @include easeOut();
            }
            &#linkedin:hover {
                color: #00a9cd;
            }
            &#github:hover {
                color: #6e5494;
            }
            &#twitter:hover {
                color: #6dc5dd;
            }
            &#facebook:hover {
                color: #3b5998;
            }
            &#instagram:hover {
                color: #6dc993;
            }
        }
    }
    &#home {
        overflow: hidden;
        h1 {
            margin-top: 20vh;
        }
    }
}

.about-info {
    display: grid;
    grid-gap: 30px;
    grid-template-areas: 'bioimage bio bio' 'job1 job2 job3' 'skill skill skill3';
    grid-template-columns: repeat(3, 1fr);
    .bio-image {
        grid-area: bioimage;
        margin: auto;
        border-radius: 50%;
        border: $secondary-color 3px solid;
    }
    .bio {
        grid-area: bio;
    }
    .job-1 {
        grid-area: job1;
    }
    .job {
        background: lighten($primary-color, 7);
        padding: 0.5rem 1rem;
        border-bottom: $secondary-color 5px solid;
    }
    .skills {
        grid-area: skill;
        h1 {
            font-size: 2rem;
            margin-bottom: 1rem;
        }
        @keyframes load {
            from {
                width: 0%
            }
        }
        @-webkit-keyframes load {
            from {
                width: 0%
            }
        }
        @-moz-keyframes load {
            from {
                width: 0%
            }
        }
        .bar {
            background-color: set-text-color($primary-color);
            padding: 0.15rem;
            border-radius: 1rem;
            margin-bottom: 0.4rem;
            font-size: 14px;
            color: set-text-color($primary-color);
            font-weight: bold;
            text-shadow: 1px 1px 1px rgba($primary-color, 0.5);
            cursor: pointer;
            &:before {
                content: attr(data-skill);
                display: inline-block;
                padding: 2px 0px 2px 10px;
                border-radius: inherit;
                animation: load 2s 0s;
                -webkit-animation: load 2s 0s;
                -moz-animation: load 2s 0s;
                @include easeOut;
            }
            &:nth-child(2n):before {
                background: #F4D03F;
            }
            &:nth-child(2n+1):before {
                background: #34495E;
            }
            &.beginner:before {
                width: calc(40% - 10px);
            }
            &.intermediate:before {
                width: calc(60% - 10px);
            }
            &.basic:before {
                width: calc(75% - 10px);
            }
            &.advance:before {
                width: calc(85% - 10px);
            }
            &.expert:before {
                width: calc(95% - 10px);
            }
        }
    }
}

.projects {
    display: grid;
    grid-gap: 0.7rem;
    grid-template-columns: repeat(3, 1fr);
    img {
        width: 100%;
        border: 3px #fff solid;
        &:hover {
            opacity: 0.5;
            border-color: $secondary-color;
            @include easeOut;
        }
    }
}

.contact-form {
    width: 40%;
    input,
    textarea {
        border: none;
        font-size: 16px;
        font-weight: 400;
        outline: none;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
        width: 100%;
    }
    input {
        padding: 5px 5px 5px 10px;
        height: 50px;
    }
    textarea {
        padding: 10px 5px 0 10px;
    }
    input[type=submit] {
        background-color: transparent;
        border: 3px solid $secondary-color;
        color: set-text-color($primary-color);
        padding: 12px 5px;
        text-transform: uppercase;
        cursor: pointer;
        &:hover {
            background-color: $secondary-color;
            color: set-text-color($secondary-color);
            font-weight: 600;
        }
    }
}

/* BUTTON STYLES */

.btn {
    display: block;
    padding: 0.5rem 1rem;
    border: 0;
    margin-bottom: 0.3rem;
    &:hover {
        background: $secondary-color;
        color: set-text-color($primary-color);
    }
}

.btn-dark {
    @extend .btn;
    background: darken($primary-color, 50);
    color: #fff;
}

.btn-light {
    @extend .btn;
    background: lighten($primary-color, 50);
    color: #333;
}

#main-footer {
    text-align: center;
    padding: 1rem;
    background: darken($primary-color, 10);
    color: set-text-color($primary-color);
    height: 60px;
}

@import 'mobile';